<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <title>Home</title>
</head>
<body>
    <div class="Title">
        Hello
    </div>
    <div class="sensors1">
    <div class="HeartRate">
        Heart Rate Monitor
    </div>
    <div class="Accelerometer">
        Accelerometer
    </div>
    </div>
</body>
</html>